<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-button (click)="doAddStudent()">
          <ion-icon name="add" slot="start"></ion-icon>
          <ion-text>{{ 'Add Student' }}</ion-text>
        </ion-button>

        <ion-button fill="outline" class="ion-margin-start">
          <ion-icon src="assets/icon/download.svg" slot="start"></ion-icon>
          <ion-text>{{ 'Download' }}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="4">
        <ion-searchbar mode="ios" animated="true" placeholder="Search by Name"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ngx-datatable
          [rows]="students"
          [columns]="columns"
          [ngClass]="'bootstrap'"
          [rowHeight]="'auto'"
          [headerHeight]="50"
          [footerHeight]="50"
          [columnMode]="'force'"
          [limit]="10"
          [scrollbarH]="true"
        >
        </ngx-datatable>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
