$border-color: var(--ion-color-step-300, #b3b3b3);

@mixin applyBorder($border, $border-radius) {
    border: #{$border};
    border-radius: #{$border-radius};
}

.board-container {
    @include applyBorder(1px solid $border-color, 4px);
}

.csv-upload-container-grid {
    height: 100%;
    padding: 50px;
}

.csv-upload-container-row {
    @include applyBorder(1px dashed $border-color, 10px);
    height: 100%;
}

.upload-image {
  height: 150px;
  width: 150px;
}