.x-small-font {
    font-size: 7pt;
}

.small-font {
    font-size: 9pt;
}

.normal-font {
    font-size: 11pt;
}

.large-font {
    font-size: 13pt;
}

.x-large-font {
    font-size: 15pt;
}

.xx-large-font {
    font-size: 19pt;
}

.xxx-large-font {
    font-size: 25pt;
}

.xxxx-large-font {
    font-size: 30pt;
}